.bx-viewport{
 height:
}
.liders{
width: 1200px;
align-self: center;
}
.page{
  height:900px;
  float:left;
  vertical-align:middle;
      margin-left: 9px;


}
.big{
      margin-left: 13px;
}
.asd {
    margin-left: 310px;
}
li{
  background-color: #1d1d1d;
}
.comics{
  width:1210px;
}
